header {
    background-color: burlywood;
}

.info {
    border: 5px solid black;
    padding: 20px;
}

img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 500px;
    width: 500px;
    object-fit: cover;
}

h2 {
    background-color: darkkhaki;
    color: cadetblue;
    text-align: center;
}

h3 {
    background-color: aqua;
    color: brown;
    text-align: center;
}

h4 {
    text-align: center;
    color: blueviolet;
}